.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url("./background.jpg");
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr minmax(400px, 2fr) 9fr;
    grid-template-rows: 1fr 600px 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". dialog ." ". . .";
}

.dialog {
    background-color: white;
    border-radius: 1em;
    grid-area: dialog;
    box-shadow: rgba(0.05, 0.05, 0.10, 0.8) 0 0 0.7em;
}

.dialog h1 {
    text-align: center;
}